<h1 class="text-center">what is JSX ? </h1>
<p>JSX is a technology that was introduced by React.

    Although React can work completely fine without using JSX, it’s an ideal technology to work with components, so React benefits a lot from JSX.
    
    At first, you might think that using JSX is like mixing HTML and JavaScript (and as you’ll see CSS).
    
    But this is not true, because what you are really doing when using JSX syntax is writing a declarative syntax of what a component UI should be.
    
    And you’re describing that UI not using strings, but instead using JavaScript, which allows you to do many nice things.</p>

<br>
    <h1 class="text-center">Why Jsx ?</h1>
    <p>React embraces the fact that rendering logic is inherently coupled with other UI logic: how events are handled, how the state changes over time, and how the data is prepared for display.

        Instead of artificially separating technologies by putting markup and logic in separate files, React separates concerns with loosely coupled units called “components” that contain both. We will come back to components in a further section, but if you’re not yet comfortable putting markup in JS, this talk might convince you otherwise.
        
        React doesn’t require using JSX, but most people find it helpful as a visual aid when working with UI inside the JavaScript code. It also allows React to show more useful error and warning messages.</p>